@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calc {
  border: 0.1rem solid #717171;
  padding: 1rem;
  border-radius: 1rem;
  background: transparent;
  box-shadow: 0rem 0.1rem 1rem rgba(113, 115, 119, 1);
}

input {
  width: 30rem;
  border: none;
  padding: 2rem;
  margin: 1rem;
  font-size: 3rem;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
  border-radius: 0.5rem;
  background: transparent;
  box-shadow: 0rem 0.1rem 1rem rgba(228, 216, 216, 0.2);
}

input::placeholder {
  color: #ffffff;
}

button {
  border: none;
  width: 6.5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 15%;
  background: transparent;
  color: #ffffff;
  font-size: 1.5rem;
  box-shadow: -5px -5px 10px rgba(225, 225, 225, 0.1);
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  background: #4f4747;
  color: #ffffff;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.txt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(10, 201, 55, 0.5);
  background-color: #ffffff;
  height: 0vh;
  text-shadow: -2px -2px 5px rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
}

.operator {
  color: green;
}

.eqlBtn {
  background-color: orange;
  color: #ffffff;
}
